html, body, div, ul, li, img
	margin 0
	padding 0

body
	#wrapper
		#thumbnails
			text-align center
			list-style-type none
			li
				display inline-block
				img
					width 200px
					height @width

	#zoomedImage
		text-align center
		img
			width 400px
			height @width