html,
body,
header,
div,
ul,
li,
a,
p,
nav,
h1,
article {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
}
#wrapper {
  width: 960px;
  margin: 0 auto;
  float: left;
}
#wrapper header #archive ul {
  float: right;
}
#wrapper header #archive ul li {
  display: inline-block;
  margin-left: 10px;
}
#wrapper header #archive ul li a {
  font-size: 10px;
  text-decoration: none;
  color: #333;
}
#wrapper header #header {
  background-image: url("images/topnav_divider.png");
  height: 65px;
}
#wrapper header #header h1 {
  margin: 15px;
  font-size: 28px;
  float: right;
  color: #fff;
}
#wrapper header #header nav ul {
  margin: 20px 50px;
  float: left;
}
#wrapper header #header nav ul li {
  display: inline-block;
  margin-right: 20px;
}
#wrapper header #header nav ul li a {
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  color: #fff;
}
#wrapper #content {
  color: #333;
}
#wrapper #content h1 {
  margin: 20px 0;
  font-size: 24px;
}
#wrapper #content article p {
  text-align: justify;
  margin-bottom: 10px;
}
.clear {
  clear: both;
}
