html, body, header, div, ul, li, a, p, nav, h1, article {
	margin 0
	padding 0
}

html, body {
	font-family: Tahoma, sans-serif;
	font-size 14px
}

#wrapper
	width: 960px;
	margin: 0 auto;
	float left
	header
		#archive
			ul
				float right
				li
					display inline-block
					margin-left 10px
					a
						font-size 10px
						text-decoration none
						color #333
		#header
			background-image url("images/topnav_divider.png")
			height 65px
			h1
				margin 15px
				font-size 28px
				float right
				color white
			nav
				ul
					margin 20px 50px
					float left
					li
						display inline-block
						margin-right 20px
						a
							font-size 18px
							text-transform capitalize
							text-decoration none
							color white
	#content
		color #333
		h1
			margin 20px 0
			font-size 24px
		article
			p
				text-align justify
				margin-bottom 10px

.clear {
	clear: both;
}

